.header{
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
    color: #f38181;
    text-shadow: 5px;
}
html{
    background-color: #95e1d3;
}
.square{
    width: 100px;
    height: 100px;
    outline: 'none';
    font-size: 50px;
    color: #f38181;
}
.row{
    display: flex;
    justify-content: center;
}
.gameBoard{
    display: none;
    box-shadow: 5px 10px;
    color: #f38181;
    width: 300px;
    margin: auto;
}
.controllers{
    padding: 5px;
    margin: auto;
}
.scoreBoard, .startGame, .choosePlayer, .resetGame{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 50px;
}
.scoreBtn, .startBtn, .restartBtn, .resetBtn{
    width: 100px;
    height: 30px;
    outline: 'none';
    border-radius: 8px;
    color: #f38181;
    background-color: #eaffd0;
}
.restartBtn, .resetBtn{
    display: none;

}
.playerNameBtn, .playerBtn, .computerBtn{
    outline: 'none';
    border-radius: 8px;
    color: #f38181;
    background-color: #eaffd0;
}
Label, text{
    color: #f38181;
}
.instruction{
    /* display originally = flex */
    display: none;
    justify-content: center;
    color: #f38181;
}
.playerNameDiv{
    display: none;
}
.choosePlayerTypeDiv{
    /* display originally = flex */
    display: none;
    gap: 20px;
    margin: auto;
}