.header{
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
    color: #f38181;
    text-shadow: 5px;
}
html{
    background-color: #95e1d3;
}
.square{
    width: 100px;
    height: 100px;
    outline: 'none';
    font-size: 50px;
    color: #f38181;
}
.row{
    display: flex;
    justify-content: center;
}
.gameBoard{
    box-shadow: 5px 10px;
    color: #f38181;
    width: 300px;
    margin: auto;
}
.controllers{
    padding: 5px;
    margin: auto;
}
.resetGame, .scoreBoard, .startGame, .chooseFirstPlayer, .chooseSecondPlayer{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 50px;
}
.scoreBtn, .startBtn, .restartBtn{
    width: 100px;
    height: 30px;
    outline: 'none';
    border-radius: 8px;
    color: #f38181;
    background-color: #eaffd0;
}
.playerName, .player, .computer{
    outline: 'none';
    border-radius: 8px;
    color: #f38181;
    background-color: #eaffd0;
}
Label{
    color: #f38181;
}
.instruction{
    display: flex;
    justify-content: center;
    color: #f38181;
}